{% extends 'portfolio/layout.html' %}

{% block main %}
    
    
    <main class="home">
    </main>
        
    <article class="first">
        <div class="home">
            
        </div>
    </article>
      
    <article class="second">
    </article><br><br>
    
    <p>Bem-vindos ao meu portfólio digital. O meu nome é Pedro Rocha e, atualmente, frequento o 
        2º ano da licenciatura do curso de <b>Engenharia Informática</b> na Universidade 
        Lusófona de Humanidades e Tecnologias. Ainda nesta página irei fazer uma breve apresentação
        relativamente ao curso que frequento:

        <ul>
            <div class="espacamento">
                <li>O curso de Engenharia Informática tem aulas bastante interativas na qual podemos
                    utilizar software do computador bastante complexo, tem muita informação para consolidar
                    porém com a prática e o avançar do curso o raciocínio lógico vai ganhando "maturidade"
                    e tornar os problemas em soluções simples e eficazes bem como o desenvolvimento de 
                    algoritmos para melhorar as capacidades enquanto programação;
                </li>
                <div class="espacamento2"></div>
                <li>Durante o curso tenho gostado de diversas áreas como a criação de sites na cadeira
                    de Programação Web, saber trabalhar com Arduino e saber utilizar a programação como
                    uma ferramente útil e indispensável ao dia-a-dia;
                </li>
                <div class="espacamento2"></div>
                <li>Todos nós temos objetivos na nossa vida, quer em termos académicos quer a nível 
                    profissional. A minha preferência recai sobre o desenvolvimento front-end em
                    empresas que me suscitam maior interesse e ambição para trabalhar neste tipo de
                    conteúdos;
                </li>
                <div class="espacamento2"></div>
            </div>
        </ul>
    </p>
        
    {% load static %}
    <img src="{% static 'portfolio/images/imagem.png' %}" alt="FotoPerfil">
    
{% endblock %}
