{% extends 'portfolio/layout.html' %}

{% block main %}
    <h2>Rodapé</h2><br>
    <p>Bem-vindos ao meu portfólio digital. O meu nome é Pedro Rocha e, atualmente, frequento o 2º ano da
        licenciatura do curso de <b>Engenharia Informática</b> na Universidade Lusófona de Humanidades
        e Tecnologias.
    </p><br>

    <ol>
        <li><h3>Licenciatura</h3></li>
        <li><h3>Educação</h3></li>
        <li><h3>Aptidões e competências pessoais</h3></li>
        <li><h3>Interesses e hobbies</h3></li>
    </ol>

    
{% endblock %}