{% extends 'portfolio/layout.html' %}

{% block main %}
    <h2>Web</h2><br>
    <p>Bem-vindos ao meu portfólio digital. O meu nome é Pedro Rocha e, atualmente, frequento o 2º ano da
        licenciatura do curso de <b>Engenharia Informática</b> na Universidade Lusófona de Humanidades
        e Tecnologias.
    </p><br>

    <ol>
        <li><h3>Tecnologias existentes</h3></li>
        <li><h3>Sobre este Website</h3></li>
        <li><h3>Laboratórios</h3></li>
        <li><h3>Notícias</h3></li>
        <li><h3>Exemplos e técnicas</h3></li>
        <li><h3>Quizz</h3></li>
    </ol>
{% endblock %}